* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  margin-inline: 3.125rem;
  display: flex;
  gap: 1.25rem;
}

.maker-form {
  display: flex;
  flex-flow: column nowrap;
  inline-size: 31.25rem;
}

.input-group {
  --font-size: 1rem;
  --font-weight: 500;

  margin-block: 0.625rem;

  position: relative;
  padding: 0;
  border: 0;
  outline: 1px solid #808080;
  border-radius: 0.5rem;

  & label {
    position: absolute;
    top: 47%;
    left: 11px;
    transform: translate(0%, -50%);
    transition: top 300ms ease;
    font-size: var(--font-size);
    background-color: transparent;
    color: transparent;
    font-weight: var(--font-weight);
  }

  & input {
    inline-size: 100%;
    block-size: 3.125rem;
    padding-inline: 0.625rem;
    font-size: var(--font-size);
    border: 0;
    outline: 0;

    &::placeholder {
      font-size: var(--font-size);
      font-weight: var(--font-weight);
    }
  }

  &:focus-within {
    outline: 1px solid #000;

    & label {
      display: block;
      top: 0;
      background-color: #fff;
      color: #000;
    }

    & input::placeholder {
      color: transparent;
    }
  }

  & input:not(:placeholder-shown) + label {
    display: block;
    top: 0;
    background-color: #fff;
    color: #000;
  }

  & input:not(:placeholder-shown)::placeholder {
    color: transparent;
  }
}

.color-selector {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  & input {
    cursor: pointer;
  }
}

.button-group {
  margin-block: 0.625rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  & button {
    cursor: pointer;
    inline-size: 6.25rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0.3125rem;
    padding-block: 0.3125rem;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.preview-group {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    align-self: self-start;
  }
}

.preview-container {
  background-color: #f0f0f0;
  padding-block: 0.9375rem;
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.card {
  --font-color: #fff;
  --bg-color: #000;

  inline-size: 100%;
  max-inline-size: 24.0625rem;
  block-size: 12.5rem;
  background-color: var(--bg-color);
  border: 0;
  border-radius: 0.625rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-inline: 0.9375rem;
  color: var(--font-color);

  & h2,
  h3 {
    margin: 0;
  }

  & h2 {
    font-size: 1.125rem;
  }

  & h3 {
    font-size: 1rem;
  }

  & .left-group {
    flex: 1;
  }

  & .right-group {
    flex: 1;
    display: flex;
    inline-size: 100%;
    block-size: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: inherit;

    .icon-group,
    .info-group {
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      padding-inline: 0.625rem;
      gap: 0.9375rem;
    }

    .icon-group {
      background-color: #fff;
      block-size: 100%;
      color: black;

      & svg {
        display: block;
        inline-size: 18px;
        block-size: 18px;
      }
    }

    .info-group {
      flex: 1;
      margin: 0;
      max-inline-size: 8.75rem;
      block-size: 100%;
      font-size: 0.75rem;

      & p {
        block-size: 1.125rem;
        word-wrap: break-word;
      }
    }
  }
}

.right-section {
  inline-size: 100%;
  border-left: 1px solid #808080;
  padding-inline-start: 1.25rem;
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 0.9375rem;

  & .list-item {
    inline-size: 100%;
    background-color: #f0f0f0;
    place-items: center;
    padding: 1.875rem;
    position: relative;

    & button {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      outline: 0;
      border: 1px solid #000;
      border-radius: 0.3125rem;
      cursor: pointer;

      &:hover {
        border-color: #fd3f3f;
        background-color: #fd3f3f;
        color: #fff;
      }
    }

    &:hover {
      & button {
        display: block;
      }
    }
  }

  &:empty + .card-empty-container {
    display: block;
  }
}

.card-empty-container {
  display: none;
  font-size: 1.25rem;
  font-weight: 500;
}
