* {
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  background-color: #d1d1d1;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

p {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 3.125rem auto;
  inline-size: 38.0625rem;
  background-color: #fff;
}

.main-header {
  inline-size: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.1875rem 1.5rem;
  padding-block: 1.25rem;

  & .left-menu {
    color: #ff5c00;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  & .right-menu {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    a {
      text-decoration: none;
      background-color: #ff5c00;
      color: #fff;
      inline-size: 5.8125rem;
      block-size: 2.125rem;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.0625rem;
      font-size: 0.875rem;
      font-weight: 500;
    }

    img {
      display: block;
    }
  }
}

main {
  .faq-wrapper {
    inline-size: 100%;
    block-size: 15.25rem;
    text-align: center;
    padding-block-start: 3.6875rem;
  }
  & h2 {
    margin: 0;
    color: #ff5c00;
    font-size: 2.375rem;
    font-weight: 900;
  }
}

.accordion-container {
  inline-size: 35.6875rem;
}

.contents-box {
  border-top: 0.0625rem solid #000;
  padding: 1.25rem 1.375rem;

  &:last-child {
    border-bottom: 0.0625rem solid #000;
  }
}

.contents-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;

  & p {
    display: flex;
    flex: 1;
    max-inline-size: 24.9375rem;
    gap: 10px;
  }

  & .header-icon {
    inline-size: 2rem;
    block-size: 2rem;
    transition: transform 0.3s ease;

    &.active {
      color: #ff5c00;
      transform: rotate(-90deg);
    }
  }
}

.contents {
  display: flex;
  font-weight: 500;
  font-size: 1.125rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  block-size: 0;

  & p {
    display: none;
    gap: 10px;

    .content-answer {
      color: #3b3b3b;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    block-size: auto;
    margin-top: 2.1875rem;

    & p {
      display: flex;
    }
  }
}
